.movie-container {
    width: 250px;
    margin: 16px;
    text-align: center;
    background: #373b69;
    color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

.movie-container img {
    max-width: 100%;
    gap: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.movie-info {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.movie-container:hover {
    -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    -ms-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    -o-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.movie-info h4 {
    margin: 0;
}

.movie-info Span {
    margin-left: 3px;
}